<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="orion">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import orion urdf file -->
    <xacro:include filename="$(find orion_description)/urdf/orion.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="orion.ros2_control.xacro" />


    <xacro:orion_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
