<launch>

<rosparam file="$(find cygnus_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="cygnus" args="Joint_Flipper_Front_Right_position_controller Joint_Flipper_Front_Left_position_controller Joint_Flipper_Back_Right_position_controller Joint_Flipper_Back_Left_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/cygnus/joint_states"/>
</node>

</launch>